# Ignorer les fichiers et dossiers générés par Unity
/0- mise en place/IDV4_Etape_0/Library/
/0- mise en place/IDV4_Etape_0/Temp/
/0- mise en place/IDV4_Etape_0/Obj/
/0- mise en place/IDV4_Etape_0/Logs/
/0- mise en place/IDV4_Etape_0/UserSettings/
/0- mise en place/IDV4_Etape_0/Build/
/0- mise en place/IDV4_Etape_0/Builds/
/0- mise en place/IDV4_Etape_0/build/
/0- mise en place/IDV4_Etape_0/Assets/StreamingAssets/*.meta
